@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #0A38F5;
  --color-secondary: #00A6A6;

  --color-base-100: #0A38F5;
  --color-base-200: #0830D4;
  --color-base-300: #0628B5;
  --color-base-content: #ffffff;
}

@custom-variant dark (&:where([data-theme=light], [data-theme=light] *));

html,
body {
  background-color: #f5f5f3;
  color: #111827;
  min-height: 100%;
}